.nav-separator{
    height: 5em;
}
.row{
	margin-right:0;
	margin-left:0;
}

#max-right{
    padding-right: 1em;
}

#logout-btn, #profile-btn{
    font-size: 12pt;
}

#logout-btn{
    color: #c9302c;
}

#profile-btn{
    color: #337ab7;
}