.form-control-feedback{
    pointer-events: all;
    cursor:pointer;
}
em{
    position: absolute !important;
}
em.error-box-custom{
    right: 0;
    top: -37px;
    width: auto;
    border-radius: 3px;
    padding: 5px;
    color:#fff !important;
    background-color: #a94442;
}